.App {
  text-align: center;
  background-color: #FFFFFF;
  width: 34.4rem;
  height: 34.4rem;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  width: 34.4rem;
  height: 4.06rem;
}

.header h1{
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
}


.header h4{

  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
  margin-left: 12rem;
  margin-right: 2.31rem;
}

.header img{
  margin-left: 1.25rem;
  margin-right: 0.43rem;
  width: 1.95rem;
}